body {
    margin: 0 auto 25px;
    background-color: #8b9ba7;
}

.navbar-toggler {
    border: 1px solid #FFF;
}
.navbar {
    border-bottom: 1px solid #FFF;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.btn-primary {
    width: 80%;
    background-color: #684245;
    border-color: #FFF;
}
.btn:hover {
    background-color: #9bafc5;
    border-color: #684245;
}

.more-info {
    width: 175px;
    padding: 2px;
    color: #FFF;
}

.card-title {
    width: 100%;
}

.card-img,
.card {
    border: 3px solid #684245;

    transition: transform 1s ease-out;
    transform-style: preserve-3d;

}

.side-a,
.side-b {
    backface-visibility: hidden;
}
.side-b {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    background-color: #684245;
    transform: rotateY(180deg);
}
ul.about-list {
    display: block;   
}
.about-list li {
    width: 100%;
    list-style-type: circle;
    color: #fff;
}
.buttons-back {
    display: flex;
    flex-direction: row;
    margin: 10px 25px;
    width: 250px;
}

h2,
h3 {
    color: #FFF;
}
a {
    margin: 0 5px;
}
hr {
    background-color: #fff;
}

/* Contact Info - Socials */
footer {
    height: 250px;
}

.socials {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}
.svgs {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 15px;
}

li {
    list-style-type: none;
    width: 50px;
    margin: 0 auto;
}
li a:hover {
    color: #684245;
}
.copyright {
    color: #FFF;
    font-size: 1em;
    font-weight: 200;
    text-align: center;
}




@media(min-width: 768px) {
    .navbar-collapse {
        flex-grow: 0;
    }
    .socials {
        margin: 55px;
    }
    .col-md {
        flex-basis: auto;
        max-width: 50%;
    }
    p {
        padding: 5px 45px;
    }
}

@media(min-width: 1024px) {
   p {
       padding: 15px 80px;
   }
   img {
       width: 275px;
       height: 250px;
   }
   .buttons-back {
       margin-top: 35px;
       width: auto;
   }
}