body {
    margin: 0 auto 25px;
    background-color: #8b9ba7;
}

.navbar-toggler {
    border: 1px solid #FFF;
}
.navbar {
    border-bottom: 1px solid #FFF;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.btn-primary {
    width: 80%;
    background-color: #684245;
    border-color: #FFF;
}
.btn:hover {
    background-color: #9bafc5;
    border-color: #684245;
}

.more-info {
    margin-top: 40%;
    width: 150px;
    padding: 7px;
    color: #FFF;
}

.card-title {
    width: 100%;
}

.card-img,
.card {
    margin-top: 100px;
    border: 3px solid #684245
}

h2 {
    color: #FFF;
}
hr {
    background-color: #fff;
}

/* Contact Info - Socials */
footer {
    height: 250px;
}

.socials {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}
ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 15px;
}
li {
    list-style-type: none;
    width: 50px;
    margin: 0 auto;
}
li a:hover {
    color: #684245;
}
.copyright {
    color: #FFF;
    font-size: 1em;
    font-weight: 200;
    text-align: center;
}




@media(min-width: 768px) {
    .navbar-collapse {
        flex-grow: 0;
    }
    .container {
        max-width: 350px;
    }
    .socials {
        margin: 55px;
    }
}